@font-face {
    font-family: 'Univers Else';
    src: url('/fonts/univers-else-regular.TTF') format('ttf');
  }

@font-face {
  font-family: 'InstrumentSerif';
  src: url('/fonts/InstrumentSerif-Regular.TTF') format('truetype');
}

@font-face {
  font-family: 'InstrumentSans';
  src: url('/fonts/Instrument_Sans/InstrumentSans-VariableFont.TTF') format('truetype');
}

body {
  font-family: 'InstrumentSans', sans-serif !important;
  background-color: #E70000;
  color: #FFF2B1;
  font-size: 12px;
}

html, body {
  overflow-x: hidden;
}

  :root {
    /* palette */
  
    --black-color: #E70000;
    --dark-blue: #2d8aa9;
    --medium-blue: #b8dee8;
    --light-blue: #E70000;
    --mint: #d4e5c5;
    --lime: #FFFFF6;
    --sand: #fde3c3;
    --off-white: #F9F8F8;
    --white: #ffffff;
    --firetruck: #fd8e81;
    --salmon: #fbb9b1;
    --light-pink: #fde3dc;
    --light-sand: #fff5ed;
    --beige: #f3eee9;
  
  
    /* themes */
    --page-background-color: var(--lime);
    --page-color: var(--lime);
    --btn-bg-color: var(--page-color);
    --scrollbar-bg-color: var(--dark-gray-color);
    --thumb-bg-color: var(--page-color);
  
    --text-color: white;
    --secondary-text-color: var(--black-color);
  
    --image-placeholder-color: var(--light-gray-color);
  
    /* typography */
  
    --sans-serif-fonts: Univers-Else,'UniversElse', sans-serif;
    --serif-fonts: Instrument,'Instrument', serif;
  
    /* spacing system */
    --space-factor: 8px;
  
  }
  
  html {
      --section-background-color: linear-gradient(
        to bottom left,
        rgba(232, 229, 229, 0.582),
        rgba(12, 8, 24, 0.904)
      );
    
      --image-gradient: linear-gradient(
        to bottom left,
        rgba(17, 16, 16, 0.678),
        rgba(12, 10, 22, 0.863)
      );
    
      --imp-text-color: var(--black-color);
    }
    
    
    button:focus {
      box-shadow: none !important;
    }
  
    @media (max-width: 767px){
      h1 {
        font-family: 'Univers Else', sans-serif;
        font-size: large;
      }
      h2 {
        font-family: 'InstrumentSerif', sans-serif;
        font-size: large;
      }
      h3 {
        font-family: 'InstrumentSans', sans-serif;
        font-size: small;
      }
      h4 {
        font-family: 'InstrumentSerif', sans-serif;
        font-size: large;
        color:#E70000;
      }
      .company-name{
        font-size: small;
      }
    }
    p {
      font-family: 'InstrumentSerif', serif;
      color: var(--black-color);
      font-size: '12px';
    }
  
    body {
      font-size: '12px';
      background-color: var(--lime);
    }
  
    a:link, a:visited, a:hover, a:active {
      color: var(--black-color) !important;
      text-decoration: none !important;
  }
  
    h1 {
      font-size: 3.5em;
      font-weight: 700;
      line-height: 1.8;
      font-family: 'Univers Else', sans-serif;
      color: var(--black-color);
    }
  
    h2 {
      font-size: 2.5em;
      line-height: 1.8;
      font-weight: 600;
      font-family: 'InstrumentSerif', sans-serif !important;
    }
  
    h3 {
      font-size: 1.5em;
      line-height: 1.8;
      font-weight: 500;
      font-family: 'InstrumentSans', sans-serif !important;
    }

    h4 {
      font-family: 'InstrumentSans' !important;
      font-size: large;
      line-height: 1.8;
      font-weight: 500;
      color: var(--black-color);
    }

    p {
      font-size: medium;
    }

    .page_title {
      font-size: 5rem !important;
      color: var(--black-color) !important;
    }

    .Typewriter__wrapper {
      font-size: 10rem !important;
      font-family: 'Univers Else', sans-serif;
      color: #E70000 !important;
      overflow: 'hidden';
      filter: blur(1px);
    }
    .Typewriter__cursor {
      font-size: 10rem !important;
      color: #E70000 !important;
      filter: blur(1px);
    }
    
    @media (max-width: 767px) {
      .Typewriter__wrapper {
        font-size: 1.4em !important;
        font-weight: 500 !important;
        position: absolute !important;
      }
      .Typewriter__cursor {
        display: none !important;
      }
    }
    
    /* --------- */
    /*  Preloader */
    /* --------- */
    #preloader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 999999;
      background-color: var(--white);
      background-image: url(./assets/sketchbook.png);
      background-size: 20%;
      background-repeat: no-repeat;
      background-position: center;
    }
    
    #preloader-none {
      opacity: 0;
    }
    
    #no-scroll {
      overflow: hidden;
      height: 100vh;
    }
    
    /* --------- */
    /*Scrollbar   */
    /* --------- */
    
    ::-webkit-scrollbar {
      width: 7px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: var(--dark-gray-color);
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--light-blue);
      border-radius: 12px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--light-blue);
      border-radius: 12px;
    }
    
    /* --------- */
    /* Navbar Section  */
    /* --------- */
    .sticky {
      /* background-color: #1b1a2ea9 !important; */
      transition: all 0.3s ease-out 0s !important;
      /* box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important; */
      /* backdrop-filter: blur(15px) !important; */
    }
    
    .navbar {
      position: fixed !important;
      transition: all 0.3s ease-out 0s !important;
      padding: 0.3rem 2rem !important;
      font-size: 2rem !important;
      font-family: 'InstrumentSerif' !important;
      width: 100%;
      /* background-color: var(--lime); */
    }

    .navbar-nav {
      display: flex;
      flex-direction: column !important; 
      /* align-items: flex-start; Align items to the left */
      width: 5%; /* Ensure it spans full width */
      padding-right: '1rem'
    }
    
    .nav-item {
      width: 100%; /* Make each nav item span the full width */
      padding-right: '1rem' !important;
    }
    
    .nav-link {
      display: block; /* Ensure the links behave like block elements */
      width: 100%;
      padding: 1rem 1.5rem; /* Adjust padding for better spacing */
      text-align: right; /* Align text to the left */
    }
    
    .navbar-toggler {
      position: absolute; /* Ensures it can be positioned freely */
      top: 1rem; /* Adjust vertical position */
      right: 2rem; /* Align to the top-right corner */
      background-color: transparent !important;
      border-color: transparent !important;
    }

    .navbar-toggler img {
      height: 50px; /* Adjust height as needed */
    }

    .navbar-collapse {
      margin-top: 60px; /* Space the nav items below the toggler */
      text-align: right;
    }
    
    .navbar-toggler span {
      display: block !important;
      background-color: var(--black-color) !important;
      height: 4px !important;
      width: 27px !important;
      margin-top: 5px !important;
      margin-bottom: 5px !important;
      transform: rotate(0deg) !important;
      left: 0 !important;
      opacity: 1 !important;
    }
    
    .navbar-toggler:focus,
    .navbar-toggler:active {
      outline: 0 !important;
    }
    
    .navbar-toggler span:nth-child(1),
    .navbar-toggler span:nth-child(3) {
      transition: transform 0.35s ease-in-out !important;
      transition: transform 0.35s ease-in-out !important;
    }
    
    .navbar-toggler:not(.collapsed) span:nth-child(1) {
      position: absolute !important;
      left: 12px !important;
      top: 10px !important;
      transform: rotate(135deg) !important;
      opacity: 0.9 !important;
    }
    
    .navbar-toggler:not(.collapsed) span:nth-child(2) {
      height: 12px !important;
      visibility: hidden !important;
      background-color: transparent !important;
    }
    
    .navbar-toggler:not(.collapsed) span:nth-child(3) {
      position: absolute !important;
      left: 12px !important;
      top: 10px !important;
      transform: rotate(-135deg) !important;
      opacity: 0.9 !important;
    }
    
    @media (max-width: 767px) {
      .navbar {
        padding: 1rem 1rem !important;
        font-size: 1rem !important;
      }
      .navbar-nav .nav-item a::after {
        display: none !important;
      }

      .nav-link {
        padding: 0.8rem 1rem; /* Adjust padding for smaller screens */
      }
    }
    .navbar-brand {
      color: var(--light-blue) !important;
    }
    
    .logo {
      height: 1.4em !important;
      width: 2.5em !important;
    }
    
    .navbar-nav .nav-link {
      color: var(--light-blue) !important;
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important;
    }
    
    .nav-link {
      padding: 0.8rem 1rem !important;
    }
    
    @media (max-width: 767px) {
      .nav-link {
        padding: 0.7rem 1rem !important;
      }
    }
    
    .navbar-nav .nav-item {
      position: relative;
      margin-left: 20px;
    }
    
    .navbar-nav .nav-item a {
      font-weight: 400;
      transition: all 0.3s ease-out 0s;
      position: relative;
      z-index: 1;
    }
    
    .navbar-nav .nav-item a::after {
      content: "";
      position: relative;
      display: block;
      height: 2px;
      width: 0;
      border-radius: 1px;
      background: var(--light-blue);
      bottom: 1px;
      left: 0;
      z-index: -1;
      transition: all 0.3s ease-out 0s;
    }
    
    .navbar-nav .nav-item a:hover::after {
      width: 100%;
    }

.home-section {
    /* display: flex; */
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    padding: 10rem 0rem 0rem 0rem;
    background-image: url('/home/texture.jpg');
    opacity: 0.7;
}

.default-section {
  display: flex;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  padding: 5rem 0rem 0rem 2rem;
  background-color: var(--lime);
}


.landing {
  /* display: flex; */
  /* position: relative;
  min-height: 100vh;
  min-width: 100vw;
  padding: 10rem 0rem 0rem 0rem; */
  background-color: var(--lime);
}

.section {
    /* display: flex; */
    position: relative;
    /* align-items: flex-start;
    justify-content: center; */
    padding-top: 2rem;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--lime);
}

.profile-section {
  /* display: flex; */
  position: relative;
  /* align-items: flex-start;
  justify-content: center; */
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--lime);
}

.content {
  padding: 8rem 5rem 8rem 5rem !important;
  color: var(--black-color);
  text-align: left;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.postings {
  border: 2px solid var(--black-color);
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.posting {
  /* border: 2px solid #E70000; */
  border-radius: 0;
  width: 100%;
  height: 100%;
  /* margin: 20px; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  font-family: 'InstrumentSans' !important;
}

.roles {
  padding: 5rem 3rem 3rem 2rem !important;
  color: var(--black-color);
  text-align: left;
  width: 100%;
}

.role-card-text {
  margin-bottom: 2px;
  font-family: 'InstrumentSans';
  font-size: '14px' !important;
}

.role-card-buttons {
  position: absolute; /* Position the buttons relative to the card */
  top: 10px; /* Adjust vertical positioning */
  right: 10px; /* Adjust horizontal positioning */
  display: flex;
  gap: 10px; /* Space between buttons */
}

.profile-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: solid 2px var(--black-color);
  margin-bottom: 10px;
}

.profile {
  padding: 5rem 2rem 2rem 2rem !important;
  display: flex;
  flex-direction: column;
  gap: 0;
  color: var(--black-color);
  text-align: left;
  /* justify-content: space-between; */
  font-family: 'InstrumentSans';
  font-size: '10px' !important;
  /* width: 100%; */
}

.search {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  /* border: 1px solid #55987D; */
  border-radius: 2px;
  background-color: var(--lime);
  color: #1D1D1D;
}
.searchbar {
  font-family: 'InstrumentSerif';
  width: 70%;
  font-size: 20px;
  border: none;
  background-color: transparent;
  outline: none; /* Prevent outline on focus */
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--black-color); /* Default to no underline */
  transition: border-bottom 0.3s ease; /* Smooth underline transition */
}

.searchbar:focus,
.searchbar:active {
  outline: none; /* Prevent focus styles */
  border: none;  /* Prevent border changes */
  background-color: transparent; /* Maintain transparent background */
  border-bottom: 2px solid var(--black-color); /* Add red underline on focus or active */
}

.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Responsive grid with minimum 250px card width */
  gap: 0px; /* Space between cards */
}

.role-card {
  height: 400px; /* Set a consistent height */
  display: flex;
  /* border: solid 2px black; */
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  overflow-y: scroll;
}



.form {
    max-width: 400px;
    margin: 20px auto;
    /* padding: 20px; */
    border-radius: 2px;
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
    color: #FFF2B1;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #55987D;
    border-radius: 2px;
    background-color: var(--lime);
    color: #1D1D1D;
  }
  
  .button {
    padding: 7px 14px;
    border: none;
    border-radius: 2px;
    background-color: #55987D;
    color: #FFF2B1;
    font-size: 16px;
    cursor: pointer;
    float: right;
  }
  
  .button:hover {
    background-color: #28691E;
  }
  
/* StopMotion Style */

  #stopmotion-container {
    display: relative;
    max-width: 1000vw;
    max-height: 80vh;
    outline: 2px solid var(--black-color);
    padding: 1rem;
  }

  .frame {
      opacity: 0.1;
      transition: opacity 0.2s ease-in-out;
      max-width: '600px';
  }

  .frame.visible {
      opacity: 1;
  }

  .frame:hover {
    opacity: 1;
    z-index: 1000; /* Ensure the hovered image is on top */
  }


/* --------- */
  /* Footer */
  /* --------- */
  .footer {
    bottom: 0 !important;
    /* font-size: x-small !important; */
    padding-top: 10px !important;
    padding-bottom: 8px !important ;
    background-color: var(--lime);
  }
  .footer-copywright {
    text-align: center !important;
  }
  
  .footer-body {
    z-index: 1;
    padding-top: 10px !important;
    padding-bottom: 8px;
    text-align: center !important;
  }